*{
    padding: 0;
    margin: 0  ;
    box-sizing: border-box;
}
#role,#gender, #department, #skill, #highest-level {
    display: none !important;
}

.form-parent {
    margin-bottom: 20px;
}

textarea {
    resize: none;
}