body {

}

.container-fluid {
    height: 100vh;
    position: relative;
}

.creatMessage {
    margin-left: 10px;
    color: #59b914;
    font-size: 1.5rem;
}

.hidden {
    display: none !important;
}

.table-parent {
    height: 70%;
    overflow: auto;
}

.table-body {
    position: relative;
}

.not-found {
    position: absolute;
    top: 20px;
    font-size: 1.3rem;
    color: #d39134;;
}

li.active {
    background: #5D87FF;
    color: white !important;
}

#search-input-parent {
    width: 50%;
}

#searchInput {
    width: 100%;
}

.action-parent a {
    margin-right: 10px;
}

ul.pagination-parent {
    position: absolute;
    width: 60%;
    bottom: 50px;
    display: flex;
}

li.prev-button,
li.next-button {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    color: #5D87FF;
    text-align: center;
    line-height: 30px;
    cursor: pointer
}

li.next-button {
    margin-left: 7px;
}
*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
.modal-header .close {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.modal-header .close:hover{
    color: black;
}

@keyframes my-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




input {
    padding: 10px;
    width: 300px;
}

tr {
    display: flex;
}


td:nth-child(1) {
    width: 15%;
    margin-left: 10px;
}

td:nth-child(2) {
    width: 20%;
}

td:nth-child(3) {
    width: 10%;
}

td:nth-child(4) {
    width: 10%;
}

td:nth-child(5) {
    width: 15%;
}

td:nth-child(6) {
    width: 15%;
}

td:nth-child(7) {
    width: 15%;
}

th:nth-child(1) {
    width: 15%;
    margin-left: 10px;
}

th:nth-child(2) {
    width: 20%;
}

th:nth-child(3) {
    width: 10%;
}

th:nth-child(4) {
    width: 10%;
}

th:nth-child(5) {
    width: 15%;
}

th:nth-child(6) {
    width: 15%;
}

th:nth-child(7) {
    width: 15%;
}



