<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interview Schedule List</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/interview/view-interview-list.css}">
    <link rel="stylesheet" th:href="@{/css/simplebar.css}">
    <link rel="stylesheet" th:href="@{/css/common/side-bar.css}">
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <th:block th:insert="common/common"></th:block>
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <div>
                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
                    <div>
                        <span id="title" class="h1">Interview</span>
                    </div>
                    <th:block th:insert="common/logout"></th:block>
                </nav>
            </div>
            <ol class="breadcrumb">
                <li th:if="${breadCrumbList}" class="breadcrumb-item">
                    <a>
                        <span th:text="${breadCrumbList.getName()}"></span>
                    </a>
                </li>
            </ol>
        </header>
        <!--  Header End -->
        <!-- CONTENT START -->
        <div class="container-fluid">
            <form action="#" method="post">
                <div class="d-flex gap-2 form-row align-items-center w-60">
                    <div id="search-input-parent" class="autocomplete">
                        <input type="text" class="form-control mb-2" id="searchInput" placeholder="Keyword">
                        <div class="autocomplete-items" id="autocomplete-list"></div>
                    </div>
                    <select class="form-select mb-2 w-60" id="searchSelection">
                        <option value="" class="searchSelection">--Interviewer--</option>
                        <option th:each="i:${interviewers}" th:text="${i}"
                                th:value="${i}"
                                class="searchSelection"></option>
                    </select>

                    <select class="form-select mb-2 w-60" id="statusSelection">
                        <option value="" class="statusSelection">--Status--</option>
                        <option value="new" class="statusSelection">New</option>
                        <option value="invited" class="statusSelection">Invited</option>
                        <option value="interviewed" class="statusSelection">Interviewed</option>
                        <option value="cancelled" class="statusSelection">Cancelled</option>
                    </select>
                    <button type="submit" class="btn btn-primary mb-2" onclick="search(event)">Search</button>
                </div>
            </form>
            <div class="d-flex justify-content-end mt-2 mb-2 gap-2"
                 sec:authorize="hasAnyRole('ADMIN','RECRUITER','MANAGER')">
                <a th:href="@{/interview/add}">
                    <button class="btn btn-secondary">Add new</button>
                </a>
            </div>
            <div class="table-parent mt-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Candidate Name</th>
                        <th scope="col">Interviewer</th>
                        <th scope="col" style="width: 20%">Schedule</th>
                        <th scope="col">Result</th>
                        <th scope="col">Status</th>
                        <th scope="col">Job</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody class="table-body">
                    <tr>
                        <td>Interview Senior Backend Developer</td>
                        <td>Nguyễn Anh Đức</td>
                        <td>Nguyễn Khắc Hoàn</td>
                        <td>22/02/2022 9:00 - 10:30</td>
                        <td>N/A</td>
                        <td>New</td>
                        <td>Dev Ov</td>
                        <td>
                            <a href=""><i class="fa-solid fa-eye"></i></a>
                            <a href=""><i class="fa-solid fa-pen-nib edit-candidate"></i></a>
                            <a href=""><i class="fa-solid fa-arrow-pointer"></i></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <ul class="pagination-parent">
                <li class="prev-button" onclick="prev(event)">Prev</li>
                <div class="pagination">
                    <li>1</li>
                </div>
                <li class="next-button" onclick="next(event)">Next</li>
            </ul>

        </div>
        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title text-center w-100 text-white" id="modal-title"></h5>
                        <span class="close" aria-hidden="true">&times;</span>
                    </div>

                    <div class="modal-body">
                        <p class="lead" id="confirmText"></p>
                    </div>

                    <div class="modal-footer d-flex justify-content-center">
                        <a id="yesBtn" class="btn btn-danger">Yes</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT END -->
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
</script>
<script th:src="@{/js/interview/view-interview-list.js}"></script>

</body>

</html>