<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Job Details</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/common/view-detail-entity-common.css}" />
    <link rel="stylesheet" th:href="@{/css/Job/view-job-detail.css}">
    <link rel="stylesheet" th:href="@{/css/simplebar.css}">
    <link rel="stylesheet" th:href="@{/css/common/side-bar.css}">
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <th:block th:insert="common/common"></th:block>
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <div>
                <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
                    <div>
                        <span id="title" class="h1">Job</span>
                    </div>
                    <th:block th:insert="common/logout"></th:block>
                </nav>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="${breadcrumbList.getUrl()}">
                        <span th:text="${breadcrumbList.getName()}"></span>
                    </a>
                </li>
                <li th:if="${breadcrumbDetail}" class="breadcrumb-item">
                    <a>
                        <span th:text="${breadcrumbDetail.getName()}"></span>
                    </a>
                </li>
            </ol>
        </header>
        <!--  Header End -->
        <!-- CONTENT START -->
        <div class="container-fluid grand-parent">
            <form class="d-flex justify-content-between" action="" th:object="${view}">
                <div class="col-md-6 d-flex justify-content-between">
                    <div class="col-md-9">
                        <div class="div-to-space"></div>
                        <div class="div-note">
                            <span class="h5-sub">Job title</span>
                            <span th:text="${view.title}" class="rent-space-data"></span>
                        </div>

                        <div class="div-to-space"></div>
                        <div class="div-note">
                            <span class="h5-sub">Start Date</span>
                            <span th:text="${view.startDate}" class="rent-space-data"></span>
                        </div>

                        <div class="div-to-space"></div>
                        <div class="div-note">
                            <span class="h5-sub">Salary range</span>
                            <div>
                                <span class="rent-space-data">From</span>
                                <span th:text="${view.minSalary}" class="rent-space-data"></span> VND<br>

                                <span class="rent-space-data"> To</span>
                                <span th:text="${view.maxSalary}" class="rent-space-data"></span> VND
                            </div>
                        </div>

                        <div class="div-to-space"></div>
                        <div class="div-note">
                            <span class="h5-sub">Working Address</span>
                            <span th:text="${view.workingAddress}" class="rent-space-data"></span>
                        </div>

                        <div class="div-to-space"></div>
                        <div class="div-note">
                            <span class="h5-sub">Status</span>
                            <span th:text="${view.status}" class="rent-space-data"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="col-md-10">
                        <div class="div-to-space"></div>
                        <div class="div-note">
                            <span class="h5-sub">Skills</span>
                            <div><span th:each="skill: ${skillName}" th:text="${skill}" class="rent-space-data list"></span></div>
                        </div>

                        <div class="div-to-space"></div>
                        <div class="div-note">
                            <span class="h5-sub">End Date</span>
                            <span th:text="${view.endDate}" class="rent-space-data"></span>
                        </div>

                        <div class="div-to-space"></div>
                        <div class="div-note">
                            <span class="h5-sub">Benefits</span>
                            <div><span th:each="benefit: ${benefitName}" th:text="${benefit}" class="rent-space-data list"></span></div>
                        </div>

                        <div class="div-to-space"></div>
                        <div class="div-note">
                            <span class="h5-sub">Level</span>
                            <div><span th:each="level: ${levelName}" th:text="${level}" class="rent-space-data list"></span></div>
                        </div>

                        <div class="div-to-space"></div>
                        <div class="div-note">
                                <span class="h5-sub">Description</span>
                                <span th:text="${view.description}" class="rent-space-data"></span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="back">
                <div>
                    <a th:href="@{/job/edit/{id}(id=${view.getId()}, prevPage=${prevPage})}" class="btn btn-info mb-2">Edit</a>
                    <a th:href="@{/job/list}" class="btn btn-warning mb-2">Back</a>
                </div>
            </div>
        </div>


    </div>
    <!-- CONTENT END -->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
<script>
    new MultiSelectTag('skills')
    new MultiSelectTag('benefits')
    new MultiSelectTag('level')
</script>
</body>

</html>