<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="/img/logo.jpg" width="180" alt="">
                            </a>
                            <p class="h2 text-center">Forgot Password</p>
                            <br>

                            <div th:if="${error != null}">
                                <p class="text-danger">[[${error}]]</p>
                            </div>
                            <div th:if="${message != null}">
                                <p class="text-warning">[[${message}]]</p>
                            </div>

                            <form method="post" th:action="@{/forgot-password}">
                                <div class="mb-3">
                                    <label for="email" class="form-label">We will be sending a reset password link to your email. Reset password link will be valid in 24 hours.</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your e-mail" required>
                                </div>
                                <input type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" placeholder="Send email">
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="text-primary fw-bold ms-2" th:href="@{/login}">Back to Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>